.App {
  text-align: center;
}
.Clearer {
  clear: both;
}
.Floater {
  float: left;
}
.MovieCard {
  text-align: center;
  width: 100%;
  height: 100%;
}
.MovieCard img {
  float: left;
}
.MovieCard article {
  float: left;
  margin-left: 50px;
}
.Bar {
  background-color: #1ac2d8;
  min-height: 100px;
  padding-top: 15px;
  text-align: left;
  font-size: 25px;
  font-family: Ubuntu Mono;
}
